name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build-win:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup dependencies
        run: |
          rustup update stable
          rustup default stable

      - name: Build
        run: |
          powershell ./build.ps1

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: ${{ github.ref_name }}
          draft: true
          files: ./dist/tabletdrivercleanup.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
